<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET CARE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav>
        <div id="logoContainer">
            <div>
                <img src="Resources/Logo.png" alt="Logo" width="60px">
            </div>
            <div style="display: flex; align-items:center">
                <div>
                    <h3>PAW FECT</h3>
                    <!-- <h3>PET CARE</h3> -->
                    <p>Platform</p>
                </div>
            </div>
        </div>

        <div id="pageLinks">

            <a class="pageLink" href="#">
                <div> Home </div>
            </a>
            <a class="pageLink active" href="#">
                <div> New In </div>
            </a>
            <a class="pageLink" href="#">
                <div> Services </div>
            </a>
            <a class="pageLink" href="#">
                <div> About Us </div>
            </a>
            <a class="pageLink" href="#">
                <div> Contact Us </div>
            </a>
            <a class="pageLink" href="#">
                <div> Login </div>
            </a>

        </div>
    </nav>


    <div id="banner">

        <div class="content">
            <div>
                <H1 style="padding-left: 8px;
             font-size:xxx-large; color:rgb(124, 163, 255);">
          PAW FECT</H1>
                <!-- <h3></h3> -->
             
                    <h1>Adopt pets and love them</h2>
                        <p>Pets are cherished members of many households, but ensuring their well-being requires access to essential services and resources. Additionally,  understanding a pet's breed is crucial for tailoring care and addressing specific needs. We aim to empower pet owners to provide the best possible care for their beloved companions
.</p>
            </div>
        </div>

        <div class="images"></div>

    </div>


    <div id="comingSoon">
        <div id="leftArrow">
            <img src="/MyPerroInternTask/Resources/arrow.png" alt="" srcset="">
        </div>
        <div id="card-wapper">
            <div class="card">
                <div class="description">
                    <div>
                        <h1>Adoption<br>Assistance</h1>
                        <p>Facilitate pet adoption by connecting users with shelters, rescue organizations, and individual pet owners.
</p>
                        <button type="button">Book Now</button>
                    </div>
                </div>

                <div class="poster" style="background-image: url(Resources/dog-walking.jpg);"> </div>
            </div>


            
                <div class="poster" style="background-image: url(Resources/dog-boarding.jpg);"> </div>
            </div>
             
    

        </div>
        <div id="rightArrow">
            <img src="/MyPerroInternTask/Resources/arrow.png" alt="" srcset="">
        </div>
    </div>

    <div class="dog-taining">
        <div class="adv">
            <div>
                <h1>
                    Unleashing Excellence in Dog Training Soon!
                </h1>
                <p>Exciting dog training program coming soon! Transform your furry friend into a well-behaved,
                    happy companion with expert trainers. Tailored sessions for all ages and skill levels. Unleash the
                    potential in your pup. Stay tuned for a tail-wagging adventure!</p>

                <h3>Coming Soon!</h3>
            </div>
        </div>
    </div>


    <div id="about-us">
        <div>
            <div>
                <h1>ABOUT</h1>
                <h1>US</h1>
                <button type="button">Know More</button>
            </div>
        </div>

        <div>
            <h2>Welcome to PAW FECT</h2>
            <h4>
                At Paw Fect, Facilitating meaningful connections between humans and canine companions, enriching lives with every adoption            </h4>
            <br>
            <h2>Our Mission</h2>

            <h4>"Our mission is to provide loving homes for every dog in need, fostering connections that bring joy and fulfillment to both humans and canines. Through compassionate care, responsible adoption practices, and community engagement, we strive to make a positive impact on the lives of dogs and their adoptive families.
            </h4>
        </div>
    </div>

    <div id="footer">

        <div align="center">

            <img src="/MyPerroInternTask/Resources/Logo.png" height="50" alt="">
            <h2>Our Team</h2>
            <P style="width: 220px; text-align:left;">S.Bharath Reddy,
S.Saipraneetha,                    
                <br> A.Hasitha.

            </P>

        </div>

        <div>
            <ul>
                <li>
                    <h3>INFORMATION</h3>
                </li>
                <li>About us</li>
                <li>Collections</li>
                <li>Contact us</li>
                <li>Catalog</li>
                <li>Password Page</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <h3>MY ACCOUNT</h3>
                </li>
                <li>My Account</li>
                <li>Log in</li>
                <li>My Addressess</li>
                <li>My Orders</li>
                <li>Password Page</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <h3>CATEGORIES</h3>
                </li>
                <li>Home</li>
                <li>Lorem ipsum</li>
                <li>Contact us</li>
                <li>Catalog</li>
                <li>Password Page</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>









</body>

</html>